flask
matplotlib
scikit-image
pillow
absl-py==2.1.0
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
flatbuffers==24.3.25
gast==0.6.0
google-api-core==2.23.0
google-auth==2.36.0
google-cloud-core==2.4.1
google-cloud-firestore==2.11.0
google-cloud-storage==2.10.0
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
grpcio==1.67.1
grpcio-status==1.62.3
gunicorn==23.0.0
hapi==0.0
keras==3.6.0
libclang==18.1.1
lxml==5.2.1
mkl-service
ml-dtypes==0.4.1
namex==0.0.8
opencv-contrib-python==4.10.0.84
opt_einsum==3.4.0
optree==0.13.1
packaging
PasteDeploy==3.1.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
proto-plus==1.25.0
protobuf==4.25.3
pyasn1-modules==0.2.8
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pyramid==2.0.2
rsa==4.9
scikit-learn==1.5.1
scipy==1.13.1
Send2Trash==1.8.0
setuptools==75.1.0
tensorflow==2.18.0
tensorflow-hub==0.12.0
tensorflowjs==3.18.0
termcolor==2.5.0
translationstring==1.4
venusian==3.1.0
WebOb==1.8.9
wheel==0.44.0
